div.sdmenu {
	width: 210px;
	font-family: tahoma;
	font-size: 12px;
	padding-bottom: 10px;
	padding-left:2px;
	padding-right:0px;
	
	color: #fff;
}
div.sdmenu div {
	/*background: url(images/title.gif) repeat-x;*/
	overflow: hidden;
}
div.sdmenu div:first-child {
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 25px;
	font-weight: bold;
	color: #304762;
	font-family:tahoma;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing: 1px;
	text-align:left;
	background: url(images/expanded.gif) no-repeat 10px center;
	cursor: hand;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
	background-image: url(images/collapsed.gif);
}

div.sdmenu div a {
	padding: 5px 27px;	
	background: #eee;
	display: block;
	border-bottom: 1px solid #ddd;
	color: #304762;
	font-family:tahoma;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing: 1px;
	text-align:left;
	text-decoration:none
}
div.sdmenu div a.current {
	background : #ccc;
}
div.sdmenu div a:hover {
	background : #ccc url(images/linkarrow.gif) no-repeat right center;
	text-decoration: underline;
}
